@tailwind base;
@tailwind components;
@tailwind utilities;

.logo{
    width:4.5rem;
    
}

.img-1{

    width: 50%;

}


.hero-image {
    background-image: url("../public/images/pageImages/woods-ring.webp"); 
    background-color: #cccccc; 
    height: 75vh; 
    width: 100vw;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
  }